pkgbase = mos-chinadns
	pkgdesc = Provides a local DNS server that prevents GFW DNS poisoning
	pkgver = 1.5.2
	pkgrel = 2
	url = https://github.com/IrineSistiana/mos-chinadns
	install = mos-chinadns.install
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = go
	depends = python-netaddr
	depends = python-requests
	provides = mos-chinadns
	conflicts = mos-chinadns
	source = mos-chinadns-1.5.2.tar.gz::https://github.com/IrineSistiana/mos-chinadns/archive/v1.5.2.tar.gz
	source = mos-chinadns.install
	source = mos-chinadns.service
	source = mos-chinadns.yaml
	sha256sums = 145ff178ecf80cde091f0b99f50cd479132c90f688a01ee744644f2f7bfd5c1f
	sha256sums = 276f1ed8f96efca5103f3b2e51f5ab50dc7ad921ee2990134c5aa1ff47452804
	sha256sums = 528d7e95297d0f7e4e03016dbaed382ff4ca6241c63c82ed1ec2d7d5d87eb2cc
	sha256sums = 3b12eb4b41136391bda12edbb77bf89a89335875aff654677f3f70fe020cd548

pkgname = mos-chinadns

